*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  height: 534px;
  grid-template-columns: 711px 399px;
  gap: 30px;
  grid-template-areas:
  "result content__details";
  width: 1140px;
  align-items: end;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  object-fit: cover;
}

.result__video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  align-items: end;
  justify-content: space-between; 
  height: 54px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
}

input[type='text'] {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  background-color: transparent;
  padding: 2.5px 14px 2.5px 0;
  font-size: inherit;
  appearance: none;
  color: #fff;
  font-size: 18px;
}

input[type='text']::placeholder {
  color: #fff;
  font-size: 18px;
  opacity: 70%;
}

.search-form__label:has(> input[type='text']:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

input[type='text']:hover {
  cursor: text;
}

input[type='text']:active {
  border: 1px solid #fff;
}

.search-form__input:not(:placeholder-shown) {
  color: inherit;
  font-size: inherit;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative; 
  width: 19px; 
  height: 19px; 
  background-color: #000;
  border: 1px solid #fff; 
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 17px; 
  height: 17px;
  background-color: #fff;
  border: 1px solid #000; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  cursor: pointer;
}

.search-form__label:has(> input[type='checkbox']:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label-text {
  margin-left: 5px;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.search-form__submit-button {
  padding: 6px 73.5px;
}

.title {
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.85;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__details {
  grid-area: content__details;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
}

.content__list-container {
  height: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card:active {
  background-color: #545050;
} 

.content__video-card:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
}

.more-button {
  margin: 30px 2px 2px 2px;
  padding: 6px 0;
  text-align: center;
  width: 390px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.result__video-container,
.content__list-container {
  position: relative; 
}

.preloader {
  position: absolute;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
